* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #080808;
    color: #fff;

}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/IMG-20210810-WA0004.jpg);
    background-repeat:no-repeat;
    background-size: fit-content;
    background-position: right;
    background-color:rgb(56, 52, 52);
    color: white
}

.container {
  padding: 10px;
  margin: 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;  
}

.logo {
    width: 140px;
    border-radius: 50%;
    max-height: 150px;
    max-width: 100px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #e81e1e;
    text-decoration: none;
    font-size: 24px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: aquamarine;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 15%;
    margin-left: 15%;
    font-size: 30px;
}

.header-text h2 {
    margin-top: 20px;
    font-size: 40px;
}

.header-text h2 span {
    color: #e81e1e;
}

#About {
    padding: 80px 0;
    color: antiquewhite;
    background-color:rgba(205, 115, 51, .5);
 
}

.row {
    display: flex;
    justify-content: space-between;

}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 20px 20px 10px rgba(98, 198, 238, 0.1);
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: bisque;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: #e81e1e;
    
   
}

.tab-links:active{
   
    width: auto;
    background-color: aquamarine;
    height: 3px;
    position: relative; 
    
}

.tab-content ul li{   
    margin: 10px 0;
}

.tab-content ul li span{
    color: rgb(23, 154, 186);
    font-size: 20px;
}
.tab-content{
    display: none;
}

.tab-content .company{
    list-style-type: none;
}

.tab-content .role h5{
    text-align: center;
    color: #a8c809;
  
}
.tab-content.active-tab{
    display: block;
}

#services{
    padding: 30px 0;
    background-color: rgb(12, 152, 105);
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
   
}
.services-list div{
    background-color: black;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.2s, transform 0.2s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;

}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #e0a7a7;
    transform: translateY(-10px);
}

#projects{
    padding: 50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position:relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;

}
.layer a{

    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #e0a7a7;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align:center;
    
}
.work:hover{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
}
.btn:hover{
    background: cornflowerblue;
}
#contact{
    background: rgb(4, 104, 71);
    
}
#contact .container{
    justify-content: space-between;
}
.contact {
    font-size: larger;
    color: rgb(231, 115, 115);
    display: inline-flex;
    justify-content:space-between ;
}

.contact .box {
    display: inline-flex;
    padding: 10px;
    margin-right: 5px;
    text-align: center;
    font-family: sans-serif;
    
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 10px; 
    padding: 5px;
    transition: transform 0.5s;
}

.social-icons .bi-facebook{
    color: blue;
}
.social-icons .bi-whatsapp{
    color: green;
}
.social-icons .bi-instagram{
    color: red;
}
.social-icons .bi-linkedin{
    color: navy;
}

#cvbtn {
    position:absolute;
    background-color: #992c2c;
    padding:10px; 
    width: fit-content;
    height: 50px;
    font-size: 1em;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 4px 8px 4px rgba(208, 245, 44, 0.2);
  }
  #cvbtn a {
    color: blueviolet;
    text-decoration: none;
  }

  footer {
    margin-top: auto;
    padding: var(--spacing-2) 0;
    text-align: center;
    font-size: 1.5rem;
  }
  .heart{
    color: red;
  }

  /*-CSS FOR RESPONSIVENESS-*/
  nav .fas{
    display: none;
  }

  @media only screen and (max-width: 600px){
    #header{
        background-image: url(images/IMG-20210810-WA0004.jpg);
        background-size: contain;
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h2{
        font-size: 30px;
    }
    .logo{
        position: fixed;
        top: 5px;
        right: 0px;
        width: auto;
        opacity: 0.8;
        height: 15%;
        border-radius: 50%;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
       
        position: fixed;
        left: 0;
        top: 0;
        height: auto;
        width: auto;
        padding-top: 10px;
    }
    nav ul li{
        display: block;
        margin-bottom: 10px;
        
    }
    nav ul li a{
        color: chartreuse;
        opacity: 0.7;
        font-size: 18px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .contact{
        display: block;
    }
    .row{
       display: inline;
    }
  } 